/* Render output example like in a terminal shell session */
.noparse {
    color: #ffffff;
}

.ps {
    font-weight: bold;
    color: #fff5ca;
}

.sgrhi {
    font-weight: bold;
}

.sgrer {
    color: #ef2929;
}

.sgrwa {
    color: #fce94f;
}

.sgrin {
    color: #729fcf;
}

.sgrtr {
    color: #aaaaaa;
}

.sgrse {
    color: #aaaaaa;
}

.sgrcm {
    color: #8ae234;
}

.sgrme {
    color: #ad7fa8;
}

.sgrmp {
    color: #729fcf;
}

.sgrdi {
    font-weight: bold;
    color: #729fcf;
}

.sgrali {
    color: #34e2e2;
}

.sgrva {
    color: #fce94f;
}

.sgrsy {
    color: #ad7fa8;
}

.sgrde {
    text-decoration: underline;
}

.sgrh {
    color: #aaaaaa;
}

.sgral {
    background-color: #555753;
}

.sgrl {
    background-color: #d3d7cf;
    color: #555753;
}

.sgrf {
    background-color: #cc0000;
}

.sgrnf {
    background-color: #c4a000;
}

.sgrs {
    background-color: #06989a;
}

.sgrss {
    background-color: #3465a4;
}
