/modulecmd.tcl
/ChangeLog
/README
/MIGRATING
/Makefile.inc
/modules.log
/modules.sum
/install.log
/install.sum
/nagelfar*
/modulecmd.tcl_i
/modulecmd.tcl_log
/modulecmd.tcl_m
/coverage
/site.exp
/contrib/scripts/add.modules
/contrib/modulefiles/modules
/compat
/doc/diff_with_c-version.txt
/doc/html/*.html
/doc/man
/doc/source/module.pod
/www/tcl
/www/docs
/modules-*.tar.gz
# ignore vim swap files
*.swp
*.swo
