/modulecmd.tcl
/ChangeLog.gz
/README
/Makefile.inc
/version.inc
/modules.log
/modules.sum
/install.log
/install.sum
/lint.log
/lint.sum
/icdiff
/.noicdiff
/miniconda3
/nagelfar*
/OpenFOAM-dev
/spack
/tcl8.3.5
/tclsh83
/tcl/cache.tcl
/tcl/coll.tcl
/tcl/envmngt.tcl
/tcl/init.tcl
/tcl/main.tcl
/tcl/mfinterp.tcl
/tcl/modfind.tcl
/tcl/report.tcl
/tcl/subcmd.tcl
/tcl/*_i
/tcl/*_log
/tcl/*_m
/tcl/tags
/tcl/GTAGS
/tcl/GRTAGS
/tcl/GPATH
/tcl/gtags.file
/modulecmd-test.tcl
/modulecmd-test.tcl_i
/coverage
/site.exp
/localtest
/contrib/rpm/environment-modules.spec
/script/add.modules
/script/gitlog2changelog.py
/script/modulecmd
/contrib/modulefiles/modules
/contrib/modulefiles/version
/testsuite/example/.modulespath
/testsuite/example/modulespath-wild
/testsuite/example/modulerc
/testsuite/example/initrc-1
/testsuite/example/initrc
/testsuite/.config
/doc/build
/doc/source/version.py
/doc/demo/*/*.svg
/modules-*.tar
/modules-*.tar.gz
/modules-*.tar.bz2
/modules-*-win
/modules-*-win.zip
# ignore vim swap files
*.swp
*.swo
