# no export for git-specific stuff
README.md export-ignore
INSTALL.rst export-ignore
MIGRATING.rst export-ignore
NEWS.rst export-ignore
CONTRIBUTING.rst export-ignore
contrib/gitlog2changelog.py export-ignore
contrib/pre-commit export-ignore
contrib/rpm/environment-modules.spec.in export-ignore
version.inc.in export-ignore
.gitignore export-ignore
.gitattributes export-ignore
init/.gitignore export-ignore
.appveyor.yml export-ignore
.cirrus.yml export-ignore
.travis.yml export-ignore
# no export for website-specific content
contrib/doc2www export-ignore
doc/talk export-ignore
www export-ignore
