# export version info from git
version.inc.in export-subst
# no export of git-specific stuff
.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
init/.gitignore export-ignore
.cirrus.yml export-ignore
.readthedocs.yaml export-ignore
codecov.yml export-ignore
script/mb export-ignore
script/mlprof export-ignore
script/mrel export-ignore
script/mpub export-ignore
script/nglfar2ccov export-ignore
script/commit-msg export-ignore
script/pre-commit export-ignore
.codespellrc export-ignore
.hunspell.en.dic export-ignore
# no export of website-specific content
doc/talk export-ignore
