ChangeLog
Makefile
modules.log
modules.sum
install.log
install.sum
nagelfar*
modulecmd.tcl_i
modulecmd.tcl_log
modulecmd.tcl_m
site.exp
doc/diff_with_c-version.txt
doc/Makefile
doc/html/*.html
doc/man
doc/source/module.pod
www/tcl
www/docs
modules-tcl-*.tar.gz
