Options +FollowSymLinks
RewriteEngine On
RewriteRule ^(man|tcl)/module(1|).html$ https://modules.readthedocs.io/en/stable/module.html [R=301,L]
RewriteRule ^(man|tcl)/modulefile(4|).html$ https://modules.readthedocs.io/en/stable/modulefile.html [R=301,L]
RewriteRule ^tcl/(INSTALL|NEWS).html$ https://modules.readthedocs.io/en/stable/$1.html [R=301,L]
RewriteRule ^tcl/diff_with_c-version.html$ https://modules.readthedocs.io/en/stable/diff_v3_v4.html [R=301,L]
RewriteRule ^tcl/INSTALL-win.html$ https://github.com/cea-hpc/modules/blob/master/INSTALL-win.txt [R=301,L]
RewriteRule ^tcl/README.html$ https://github.com/cea-hpc/modules/blob/master/README.md [R=301,L]
