Options +FollowSymLinks
RewriteEngine On
RewriteRule ^man/module1.html$ https://modules.readthedocs.io/en/stable/module.html [R=301,L]
RewriteRule ^man/modulefile4.html$ https://modules.readthedocs.io/en/stable/modulefile.html [R=301,L]
