
.jumbotron {
    background-color: #eeeeee;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    color: #777;
}

dd {
    margin-left: 40px;
}

pre.highlight {
    background-color: #f5f5f5;
    padding: 1em;
}

code span.cmd {
    color: #2f6f9f;
}

code span.subcmd {
    color: #4f9fcf;
}

code span.p {
    color: #999;
}
