module use --append testsuite/modulefiles.path1
module use --append testsuite/modulefiles.path2
module use --append testsuite/modulefiles.path3
module load dvcross
module load dcross/dir1/3.0
module load cross/6.0
module load novercross

