h1 {	font-family: sans-serif, arial;
	font-size: 150%;
	padding: 10px;
	background-color: #d0d0f0;
	background-color: #d0d0f0;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0f0), color-stop(100%, #a0a0b0));
	background-image: -webkit-linear-gradient(top, #d0d0f0,#a0a0b0);
	background-image: -moz-linear-gradient(top, #d0d0f0,#a0a0b0);
	background-image: -o-linear-gradient(top, #d0d0f0,#a0a0b0);
	background-image: linear-gradient(top, #d0d0f0,#a0a0b0);
	margin-bottom: 0px;
}
h2 {	font-family: verdana, sans-serif, arial, helvetica;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #d0d0f0;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0f0), color-stop(100%, #a0a0b0));
	background-image: -webkit-linear-gradient(top, #d0d0f0,#a0a0b0);
	background-image: -moz-linear-gradient(top, #d0d0f0,#a0a0b0);
	background-image: -o-linear-gradient(top, #d0d0f0,#a0a0b0);
	background-image: linear-gradient(top, #d0d0f0,#a0a0b0);
	color: Maroon;
	font-size: 120%;
}
body {	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 100%;
}
.section {
	border-left:	100px solid #d9d9d9;
	padding-left:	5px;
	margin-top:	-10px;
	margin-bottom:	-10px;
	background-color: #ffffff;
	font-size:	100%;
}
