#-----------------------------------------------------------------------------
#   Default user .aliases
#
#   This is an important setup file for your account. If you decide to change 
#   this file, keep a working copy until you are certain that your changes 
#   work.
#

alias ls "ls -F"
alias rm "rm -i"
